---
layout: blank
title: Ayurvedic Internship in Bali
seo:
  title: Ayurvedic Internship in Bali
  description: Learn more about our 7-day immersive Ayurvedic training in beautiful Ubud, Bali
  keywords: ayurvedic internship, ayurveda bali, learn ayurveda, bali retreats
  social_image: /images/bali-preceptor-expereince.jpg
  hide-from-google: false
---

<!-- Desktop -->
<section class="md:grid md:grid-cols-2 relative">

  <!-- Left Column -->
  <div class="relative h-[50vh] md:h-[100vh] z-10 overflow-hidden bg-[top]" data-aos="fade-up" data-aos-offset="0"
    data-aos-duration="2000">
    <video autoplay muted loop playsinline class="absolute inset-0 w-[75vw] lg:w-full h-full object-cover">
      <source src="/images/embodied-ayurveda-retreats-92.mp4" type="video/mp4">
      <p>Sorry, your browser doesn't support embedded videos.</p>
    </video>
  </div>

  <!-- Floating Image -->
  <div
    class="absolute top-28 md:top-[25%] lg:top-[20%] right-4 md:right-[45%] aspect-[3/4] h-[45vh] lg:h-[60vh] bg-image-style z-20 bg-[top]"
    data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500"
    style="background-image: url('/images/embodied-ayurveda-retreats-83.jpg');"></div>

  <!-- Right Column -->
  <div class="md:p-10p flex justify-center items-center mt-32 lg:mt-0 mb-12 md:mb-0">
    <div class="md:w-[80%] mx-auto p-5p md:p-0">
      <h1 class="font-serif leading-[1em] text-[2rem] text-center">Learn More About Our<br>Ayurvedic Internship in Bali</h1>
      <h2 class="text-center leading-[1em] mt-4 w-[85%] lg:w-[80%] mx-auto mb-4 text-[1.2rem]">Download our free guide with
        a detailed itinerary to see if this experience is right for you</h2>

      <!-- ActiveCampaign Form -->
      {% include form-guide.html %}

    </div>
  </div>

</section>

<!-- Description -->
<section class="py-[6rem] lg:py-16 px-5p border-t md:border-t-0 border-b border-dark">
  <div class="lg:w-[60%]">
    <p class="font-serif text-[1.5rem] leading-7 mb-0">Our Ayurvedic Internship is a <strong>7-day immersion</strong> designed to take you <strong>beyond theory</strong> and into <strong>real-world Ayurvedic practice</strong>.<p>
  </div>
</section>

<!-- Features -->
<section class="py-[6rem] md:py-16 px-5p">
  <div class="grid md:grid-cols-3 gap-8">

    <div class="uppercase tracking-widest">
      <h2 class="text-center md:text-left hover:font-serif hover:lowercase hover:duration-500">Refine your clinical skills</h2>
    </div>

    <div class="uppercase tracking-widest">
      <h2 class="text-center hover:font-serif hover:lowercase hover:duration-500">Gain hands-on experience</h2>
    </div>

    <div class="uppercase tracking-widest">
      <h2 class="text-center md:text-right hover:font-serif hover:lowercase hover:duration-500">Build confidence as a practitioner</h2>
    </div>

  </div>

</section>

<!-- Teacher -->
<section class="md:mb-12">
  <div class="grid md:grid-cols-2 md:gap-12">
    
    <!-- Left Column -->
     <div class="border-y border-dark flex justify-center items-center md:order-first">
      <div class="my-12 pl-10p pr-10p md:pr-0">
        <h2 class="serif-md">Meet Your Preceptor</h2>
        <h2 class="uppercase tracking-wider mb-4">Dr. Resmi V. Rajagopal - BAMS, MS (Ayurveda Gynec) PGDYN</h2>
        <p>Dr. Resmi V. Rajagopal is a dedicated Ayurveda Physician and founder of the versatile wellness app Ayurshe, and born and nurtured in the Ayurvedic-rich environment of Kerala, India. Her journey in Ayurvedic medicine commenced in 2007, marked by her graduation from Pankajakasthuri Ayurveda Medical College in Thiruvananthapuram, followed by a master’s degree from the prestigious ITRA Jamnagar. Her academic path was enhanced by additional training in yoga therapy, beauty care, and pulse diagnosis.</p>
        <p>Throughout her career, Dr. Rajagopal has developed a keen expertise in patient care, diagnostic skills, and hands-on surgical experiences, infused with the practical wisdom and spiritual insights imparted by her GURUs. Her approach to health and wellness extends beyond traditional learning, embodying a holistic perspective.</p>
        <p>Dr. Rajagopal's passion for education led her to the role of assistant professor at the SDM College of Ayurveda in Udupi, India, where she played a pivotal role in mentoring the next generation of Ayurveda students. This experience significantly enriched her skills in both theoretical and practical aspects of Ayurvedic medicine.</p>
      </div>
     </div>

     <!-- Right Column -->
      <div class="bg-image-style min-h-[90vh] order-first md:order-last" style="background-image: url('/images/embodied-ayurveda-1.jpg');"></div>
  </div>
</section>

<section class="py-12 px-5p">
  <h2 class="text-center leading-[1em] w-[85%] lg:w-[80%] mx-auto mb-4 font-serif text-[1.5rem]">Download our <strong>free guide</strong> with a <strong>detailed itinerary</strong> to see if this internship is <strong>right for you</strong>.</h2>

  <!-- ActiveCampaign Form -->
  {% include form-guide.html %}
</section>

<footer class="border-t border-dark py-2 bg-feature">
  <p class="text-center text-[0.9rem]">Designed & Deveoloped by <a href="https://embodiedcreativeagency.com/" target="_blank">Embodied Creative</a>.</p>
</footer>