<form method="POST" action="https://embodiedayurvedaretreats.activehosted.com/proc.php" id="_form_1_"
    class="lg:w-[80%] mx-auto" novalidate data-styles-version="5">

    <input type="hidden" name="u" value="1" />
    <input type="hidden" name="f" value="1" />
    <input type="hidden" name="s" />
    <input type="hidden" name="c" value="0" />
    <input type="hidden" name="m" value="0" />
    <input type="hidden" name="act" value="sub" />
    <input type="hidden" name="v" value="2" />
    <input type="hidden" name="or" value="67ab2eb3-36c4-42fe-939f-d8f5ed4d2d9b" />

    <!-- Names -->
    <div class="grid lg:grid-cols-2 gap-1 mb-1">

        <!-- First Name -->
        <div class="_form_element _x22011506">
            <input type="text" name="firstname"
                class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60"
                placeholder="First Name" required />
        </div>

        <!-- Last Name -->
        <div class="_form_element _x82231078">
            <input type="text" name="lastname"
                class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60"
                placeholder="Last Name" required />
        </div>
    </div>

    <!-- Email -->
    <div class="_form_element _x35691306 _full_width mb-1">
        <input type="email" name="email"
            class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60"
            placeholder="Email" required />
    </div>

    <!-- Why -->
    <div class="_form_element _x09890988 _full_width mb-1">
        <textarea name="field[1]"
            class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60 leading-tight"
            placeholder="What's calling you to join a hands-on, in-person mentorship for your Ayurvedic studies?"
            required></textarea>
    </div>

    <!-- Submit Button -->
    <div class="_button-wrapper _full_width">
        <button id="_form_1_submit"
            class="border border-dark bg-feature rounded-none cursor-pointer w-full p-2 hover:duration-500 hover:shadow-lg"
            type="submit">Submit</button>
    </div>
</form>